# ── Database ─────────────────────────────────────────────────
DB_PASSWORD=

# ── JWT ──────────────────────────────────────────────────────
JWT_SECRET=
JWT_EXPIRATION=

# ── Email) ───────────────────────────────────────
MAIL_HOST=smtp.gmail.com
MAIL_USERNAME=
MAIL_PASSWORD=
